In [10]:
import pandas as pd
import numpy as np

data = pd.read_csv('C:\\Users\\user1\\Desktop\\t_scenDemand.csv')
data.head()

    i_t  i_s  p_scenDemand
0  2020    1   -106.858898
1  2020    2    -61.108668
2  2020    3   -113.257302
3  2020    4   -111.049724
4  2020    5   -201.098780

In [12]:
combos = pd.DataFrame(0, index=np.arange(4950), columns=['scen1', 'scen2'])
combos.head()

   scen1  scen2
0      0      0
1      0      0
2      0      0
3      0      0
4      0      0

In [49]:
combo_matrix = np.zeros(shape=[4950, 2])

total_rows = 0
for i in np.arange(0, 100):
    scenario = i + 1
    count_same_max = 100 - scenario - 1
    first_row = total_rows
    
    count_same = 0
    while count_same <= count_same_max:
        combo_matrix[first_row + count_same, 0] = scenario
        combo_matrix[first_row + count_same, 1] = scenario + count_same + 1
        count_same += 1
        
    total_rows = total_rows + 100 - scenario

combo_matrix

array([[  1.,   2.],
       [  1.,   3.],
       [  1.,   4.],
       ...,
       [ 98.,  99.],
       [ 98., 100.],
       [ 99., 100.]])

In [59]:
np.linalg.norm(data[data.i_s == 1].values - data[data.i_s == 2].values)

2580.9559344232825

In [69]:
distance_array = np.zeros(shape=4950)

for x in np.arange(0, 4950):
    first_scenario = combo_matrix[x, 0]
    second_scenario = combo_matrix[x, 1]
    distance_array[x] = np.linalg.norm(data[data.i_s == first_scenario].values - data[data.i_s == second_scenario].values)
    
distance_array

array([2580.95593442, 2794.96152513, 2032.16198869, ..., 2233.80428049,
       2620.77442981, 1860.83178615])